<p id="notice"><%= notice %></p>

<h1>All Articles</h1>

 
<% @articles.each do |article| %>
  <h5>
    <%= link_to article.title, article_path(article.id) %>:
    <%= article.body.first(35) %>...    
    <%= link_to 'Edit', edit_article_path(article), class: 'btn btn-default btn-primary'  %>
    <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-danger' %>     
  </h5>

  <h7>
    <%= article.image_url %>
  </h7>
  <hr>
<% end %>
 



     